DATABASE_HOST=db
DATABASE_USER=db_user
DATABASE_PASSWORD=db_password
DATABASE_NAME=example
DATABASE_PORT=5430
DATABASE_MAXATTEMPS=5
DATABASE_DELAY=5s
DATABASE_TIMEOUT=5s

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://db_user:db_password@db:5430/example

DEBUG=true

LIMITER_MAX_LIMIT=1000
LIMITER_BURST=1000
LIMITER_CLEAN_INTERVAL=30m